@model DrinksLib.Business.BDefined_Instruction

<section id="DefinedInstructionView_@Model.Defined_Instruction_ID" class="DefinedInstructionView">
    Description:
    <br />
    @Model.Description
</section>