@model DrinksLib.Business.BAvatar

<section id="AvatarView_@Model.Avatar_ID" class="AvatarView">
<figure>
    <img src="@Url.Content(Model.Url)" title="@Model.Title"/>
    <figcaption>@Model.Title</figcaption>
</figure>
</section>